<div class="header__container">
  <div class="header__search-container">
    <button class="header__logo" title="Create New Card" (click)="openNewCardForm()"></button>
    <input id="header__search-input" type="text" placeholder="What are you want to find out?" [(ngModel)]="dataForSearch" (input)="makeSearch()">
    <button class="header__search-settings-button" (click)="toggleSortingBar()" title="settings"></button>
  </div>
  <div class="header__user-container">
    <p>{{ getUserName() }}</p>
    <button class="header__user-logo" (click)="loginService.resetUser()" [title]="logTitle"></button>
  </div>
</div>

