@import "../../../../styles.scss";

@mixin statistics-image($w) {
  width: $w;
  height: 13px;
}

.search__item-container {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  align-items: center;
  justify-content: flex-start;
  width: 264px;
  height: 327px;
  padding: 20px;
  border-radius: 5px;
  background-color: #E5E5E5;
  box-shadow: 2px 2px 4px 0px #00000040;
  border-bottom: solid 5px red;

  .search__thumbnail-image {
    width: 223px;
    height: 123px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .search__statistics-container {
    width: 220px;
    height: 13px;
    @extend %flex-normal-pattern;

    .search__statistics-item {
      @extend %flex-normal-pattern;
      column-gap: 3px;
      @extend %normal-text;

      .search__statistics-viewCount-image {
        @include statistics-image(20px);
        @include background-image-block("../../../../assets/svg/viewed.svg", 100%, 0);
      }

      .search__statistics-likeCount-image {
        @include statistics-image(15px);
        @include background-image-block("../../../../assets/svg/liked.svg", 100%, 0);
      }

      .search__statistics-dislikeCount-image {
        @include statistics-image(15px);
        @include background-image-block("../../../../assets/svg/dislike.svg", 100%, 0);
      }

      .search__statistics-commentCount-image {
        @include statistics-image(13px);
        @include background-image-block("../../../../assets/svg/commented.svg", 100%, 0);
      }
    }
  }
}
