<div class="header__container">
  <div class="header__search-container">
    <div class="header__logo"></div>
    <input id="header__search-input" type="text" placeholder="What are you want to find out?" #dataForSearch>
    <button class="header__search-button" (click)="makeSearch(dataForSearch.value)"></button>
    <button class="header__search-settings-button" (click)="toggleSortingBar()"></button>
  </div>
  <div class="header__user-container">
    <p>Your Name</p>
    <button class="header__user-logo"></button>
  </div>
</div>

