@import "null-style.scss";

%center-block-position {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%normal-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

%big-text {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
}

%flex-normal-pattern {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-center-pattern {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column-pattern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin background-image-block($url, $per, $rad) {
  background-image: url($url);
  background-size: $per;
  border-radius: $rad;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin statistics-image($w) {
  width: $w;
  height: 13px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
