<div class="admin-container">
  <p>Create new card</p>
  <form class="example-form" [formGroup]="cardForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <mat-hint>Please enter a title</mat-hint>
      <input type="text" matInput required #nameInput name="name" formControlName="userTitle">
    </mat-form-field>
    <div *ngIf="cardForm.controls['userTitle'].invalid && cardForm.controls['userTitle'].touched">
      <span *ngIf="userTitle!.errors?.['required']">The title is required</span>
      <span *ngIf="userTitle!.errors?.['minlength']">The title is too short</span>
      <span *ngIf="!userTitle!.errors?.['required'] && !userTitle!.errors?.['minlength']">The title is too long</span>
    </div>
  </form>
  <form class="example-form" [formGroup]="cardForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>password</mat-label>
      <mat-hint>Please enter a password</mat-hint>
      <input type="password" matInput required #passwordInput name="password" formControlName="userPassword">
    </mat-form-field>
    <div *ngIf="cardForm.controls['userPassword'].invalid && cardForm.controls['userPassword'].touched">
      Your password isn't strong enough
    </div>
    <div *ngIf="cardForm.controls['userPassword'].invalid && cardForm.controls['userPassword'].touched">
      &bull;at least 8 characters<br>
      &bull;a mixture of both uppercase and lowercase letters<br>
      &bull;a mixture of letters and numbers<br>
      &bull;inclusion of at least one special character, e.g., ! @ # ? ]
    </div>
  </form>
  <button class="admin-container__admin-button" (click)="loginService.setUser(nameInput.value, passwordInput.value,
  cardForm.controls['userTitle'].invalid, cardForm.controls['userPassword'].invalid)" title="log in"></button>
</div>
